<!--The content below is only a placeholder and can be replaced.-->
<div class="myHeader">
<mat-toolbar>
  <span>My Application</span>
<div class="headerToolBar">
  <img [src]="userInfo.userUrlAvatar">
  <span>Hello {{userInfo.fullName}} </span>
  <button mat-raised-button color="primary" (click)="onLoginClick()">Login</button>
  <button mat-raised-button color="primary" (click)="onRegisterClick()">Register</button>
</div>
</mat-toolbar>
</div>
<!--   
<div style="text-align:center">
  <h1>
    My Generic Store
  </h1>
  <hr>
  </div> -->