<form>
  <label>firstName</label>
  <input name="firstName" placeholder="firstName" [(ngModel)]="newUser.firstName">
  <br>
  <br>
  <label>lastName</label>
  <input name="lastName" placeholder="lastName" [(ngModel)]="newUser.lastName">
  <br>
  <br>
  <label>age</label>
  <input name="age" placeholder="age" [(ngModel)]="newUser.ageName">
  <br>
  <br>
  <div *ngIf="countryList?.length">
    <label>Countries:</label>
  <ul>
    <li *ngFor="let x of countryList">
      <app-country-info [country]="x"></app-country-info>
    </li>
  </ul>
</div>
</form>